# Building Predictive Models

In [1]:
import pandas as pd
import os
import numpy as np

## Import Data

In [4]:
train_df=pd.read_csv('processed_train.csv',index_col='PassengerId')

test_df=pd.read_csv('processed_test.csv',index_col='PassengerId')

In [5]:
train_df.head(3)

,Survived,Age,Fare,FamilySize,IsMother,IsMale,Deck_A,Deck_B,Deck_C,Deck_D,...,Title_Sir,Fare_Bin_very_low,Fare_Bin_low,Fare_Bin_high,Fare_Bin_very_high,Embarked_C,Embarked_Q,Embarked_S,AgeState_Adult,AgeState_Child
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,22.0,7.2500,2,0,1,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
2,1,38.0,71.2833,2,0,0,0,0,1,0,...,0,0,0,0,1,1,0,0,1,0
3,1,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 33 columns):
Survived              891 non-null int64
Age                   891 non-null float64
Fare                  891 non-null float64
FamilySize            891 non-null int64
IsMother              891 non-null int64
IsMale                891 non-null int64
Deck_A                891 non-null int64
Deck_B                891 non-null int64
Deck_C                891 non-null int64
Deck_D                891 non-null int64
Deck_E                891 non-null int64
Deck_F                891 non-null int64
Deck_G                891 non-null int64
Deck_Z                891 non-null int64
Pclass_1              891 non-null int64
Pclass_2              891 non-null int64
Pclass_3              891 non-null int64
Title_Lady            891 non-null int64
Title_Master          891 non-null int64
Title_Miss            891 non-null int64
Title_Mr              891 non-null int64
Title_Mrs             891 non-null int64
Title_Officer         891 non-null int64
Title_Sir             891 non-null int64
Fare_Bin_very_low     891 non-null int64
Fare_Bin_low          891 non-null int64
Fare_Bin_high         891 non-null int64
Fare_Bin_very_high    891 non-null int64
Embarked_C            891 non-null int64
Embarked_Q            891 non-null int64
Embarked_S            891 non-null int64
AgeState_Adult        891 non-null int64
AgeState_Child        891 non-null int64
dtypes: float64(2), int64(31)
memory usage: 236.7 KB

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 32 columns):
Age                   418 non-null float64
Fare                  418 non-null float64
FamilySize            418 non-null int64
IsMother              418 non-null int64
IsMale                418 non-null int64
Deck_A                418 non-null int64
Deck_B                418 non-null int64
Deck_C                418 non-null int64
Deck_D                418 non-null int64
Deck_E                418 non-null int64
Deck_F                418 non-null int64
Deck_G                418 non-null int64
Deck_Z                418 non-null int64
Pclass_1              418 non-null int64
Pclass_2              418 non-null int64
Pclass_3              418 non-null int64
Title_Lady            418 non-null int64
Title_Master          418 non-null int64
Title_Miss            418 non-null int64
Title_Mr              418 non-null int64
Title_Mrs             418 non-null int64
Title_Officer         418 non-null int64
Title_Sir             418 non-null int64
Fare_Bin_very_low     418 non-null int64
Fare_Bin_low          418 non-null int64
Fare_Bin_high         418 non-null int64
Fare_Bin_very_high    418 non-null int64
Embarked_C            418 non-null int64
Embarked_Q            418 non-null int64
Embarked_S            418 non-null int64
AgeState_Adult        418 non-null int64
AgeState_Child        418 non-null int64
dtypes: float64(2), int64(30)
memory usage: 107.8 KB

## Data Preperation

In [16]:
X=train_df.loc[:,'Age':].as_matrix().astype('float') #input array
y=train_df['Survived'].ravel()#output array

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [18]:
#As X and y are numpy array so we can use shape attribute
print(X.shape,y.shape)

(891, 32) (891,)

Here upper case X is used for matrix, lower case symbol y is use for 1D array or vector

In [21]:
#train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=0)

In [22]:
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(712, 32) (712,)
(179, 32) (179,)

In [28]:
#average survival in train and test
print('Mean Survivel in trian: ',np.mean(y_train))
print('Mean Survival in test: ',np.mean(y_test))

Mean Survivel in trian:  0.38342696629213485
Mean Survival in test:  0.3854748603351955

In [29]:
import sklearn

In [30]:
sklearn.__version__

'0.20.3'

# Baseline Model

In [31]:
#import Function
from sklearn.dummy import DummyClassifier

In [32]:
#create model
model_dummy=DummyClassifier(strategy='most_frequent',random_state=0)

In [33]:
#train model
model_dummy.fit(X_train,y_train)

DummyClassifier(constant=None, random_state=0, strategy='most_frequent')

In [37]:
print('Score for baseline model: {0:.2f}'.format(model_dummy.score(X_test,y_test))) #by default accuracy score

Score for baseline model: 0.61

In [39]:
#performance metrics
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score

In [45]:
#accuracy score
print('accuracy score  for baseline model: {: 0.2f}'.format(accuracy_score(y_test,model_dummy.predict(X_test))))

confuaion matrix for baseline model:  0.61

In [44]:
print('confuaion matrix for baseline model: \n {0}'.format(confusion_matrix(y_test,model_dummy.predict(X_test))))

confuaion matrix for baseline model:
 [[110   0]
 [ 69   0]]

In [47]:
print('precision score  for baseline model: {0: 0.2f}'.format(precision_score(y_test,model_dummy.predict(X_test))))
print('recall  for baseline model:  {0: 0.2f}'.format(recall_score(y_test,model_dummy.predict(X_test))))

precision score  for baseline model:  0.00
recall  for baseline model:   0.00

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

# First Kaggle Submission

In [48]:
#converting the matrix
test_X=test_df.as_matrix().astype('float')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [50]:
#get predictions
predictions=model_dummy.predict(test_X)

In [54]:
df_submission=pd.DataFrame({'PassengerID':test_df.index,'Survived':predictions})

In [55]:
df_submission.head()

   PassengerID  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [56]:
df_submission.to_csv('01_dummy.csv',index=False)